html body {
  background: lightblue url("./images/eb49a8e653dcb96c345f23f09ea7b8a7.jpg") no-repeat fixed center; 
}

#user {
  height: 10vh;
}

#input-container {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.start-name-input {
  display: flex;
  width: 30em;
  margin: auto;
}
#saved-username {
  visibility: hidden;
  width: min-content;
  padding: 1em 1em 1em 1em;
  color: #595959;
  background-color: #f9f9f9;
  border-radius: 1rem;
  white-space: nowrap;
  margin: 3rem 2rem 3rem 3rem;
  padding: 1em 1em 1em 1em;
}
#points {
  margin-top: 1rem;
  text-align: center;
}
.scoreboard {
  position: relative;
  color: #595959;
  background-color: #f9f9f9;
  visibility: hidden;
  border-radius: 1rem;
  width: min-content;
  margin: 0rem 0rem 0rem 3rem;
  padding: 1em 1em 1em 1em;
}

#name-error {
  visibility: hidden;
}

.start {
  width: 10em;
  text-align: center;
  margin: auto;
}

.card {
  margin: auto;
  width: 40rem;
  border-radius: 2rem;
  
  visibility: hidden;
}

.options {
  display:flex;
  justify-content: space-between;
}
h5 {
  text-align: center;
}
